<!DOCTYPE html/>
<html>
  <head>
    <title>To Do LIST!</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400|Oswald' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
